<!DOCTYPE html>
<html>
  <head>
    <title>Mapiri Andalama</title>

    <!-- Global View for Web and Mobile's metas -->
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <meta name = "viewport" content = "initial-scale = 1, maximum-scale = 1">

    <!-- Site's metas and icon -->
    <meta name = "keywords" content = "">
    <meta name = "description" content = "">
    <meta name = "author" content = "">
    <%= favicon_link_tag 'Mapiri Andalama Isologo.png' %>

    <!-- Custom Stylesheets -->
    <%= stylesheet_link_tag 'customStylesheet.css' %>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
  </head>

  <body style = "background-color: #DCFFE8;">
    <header>
      <div class = "container">
        <div class = "row">
          <div class = "col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class = "isologo"><a href = "../"><%= image_tag("Mapiri Andalama Isologo.png", :width => "300", :alt => "Isologo de Mapiri Andalama") %></a></div>
          </div>
          <div class = "col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class = "main_menu">
              <div id = "navbar_menu">
                <ul>
                  <li><a class = "active" href = "../">Deseo Invertir</a>
                    <ul>
                      <li><a href = "../">Explorar Empresas y Proyectos</a></li>
                      <li><a href = "../">Nueva Inversión</a></li>
                    </ul>
                  </li>
                  <li><a class = "active" href = "../">Mi Historial</a>
                    <ul>
                      <li><a href = "../">Lista de Inversiones</a></li>
                      <li><a href = "../">Estadísticas</a></li>
                      <li><a href = "../">Lista de Deseos</a></li>
                      <li><a href = "../">Logros</a></li>
                    </ul>
                  </li>
                  <li><a class = "active" href = "../">Consejo del Día</a></li>
                  <li><a class = "active" href = "../">Noticias</a></li>
                  <li><a class = "active" href = "../">Cuenta</a>
                    <ul>
                      <li><a href = "../">Acerca de</a></li>
                      <li><a href = "../">Modificar Perfil</a></li>
                      <li><a href = "../">Salir</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class = "container" id = "welcome_card">
      <div class = "row">
        <div class = "col-lg-9">
          <div class = "row">
            <h2 class = "text_card"><b>Buenos días, Michael Andrés</b></h2>
          </div>
          <div class = "row">
            <h5 class = "text_card">Nivel Junior</h5>
          </div>
          <div class = "row center_content">
            <div class = "card_security_items"><a href = "../"><%= image_tag("Chip.png", :height => "50", :alt => "Isologo de Mapiri Andalama") %></a></div>
            <div class = "card_security_items"><a href = "../"><%= image_tag("Mastercard.png", :height => "50", :alt => "Isologo de Mapiri Andalama") %></a></div>
          </div>
          <div class = "row">
            <h5 class = "text_card">Tu saldo:</h5>
          </div>
          <div class = "row">
            <h2 class = "text_card"><b>$   999.999.999.999</b></h2>
          </div>
        </div>
        <div class = "col-lg-3">
          <div class = "row center_content">
            <div class = "isologo"><a href = "../"><%= image_tag("NickPicture.png", :width => "200", :alt => "Isologo de Mapiri Andalama") %></a></div>
          </div>
          <div class = "row center_content">
            <div class = "star_rating"><a href = "../"><%= image_tag("Star.png", :width => "35", :alt => "Isologo de Mapiri Andalama") %></a></div>
            <div class = "star_rating"><a href = "../"><%= image_tag("Star.png", :width => "35", :alt => "Isologo de Mapiri Andalama") %></a></div>
            <div class = "star_rating"><a href = "../"><%= image_tag("Star.png", :width => "35", :alt => "Isologo de Mapiri Andalama") %></a></div>
            <div class = "star_rating"><a href = "../"><%= image_tag("Star.png", :width => "35", :alt => "Isologo de Mapiri Andalama") %></a></div>
            <div class = "star_rating"><a href = "../"><%= image_tag("Star.png", :width => "35", :alt => "Isologo de Mapiri Andalama") %></a></div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <h3 class = "black_color center_content"><b>Resumen de tu Última Inversión</b></h3>
    <div class = "container" id = "investment_resume">
      <div class = "row">
        <div class = "col-lg-6">
          <div class = "row">
            <h5 class = "black_color"><b>Monto invertido:</b></h5>
          </div>
          <div class = "row">
            <h5 class = "black_color"><b>Destino:</b></h5>
          </div>
          <div class = "row">
            <h5 class = "black_color"><b>Fecha de última transacción:</b></h5>
          </div>
        </div>
        <div class = "col-lg-6">
          <div class = "row">
            <h5 class = "center_content black_color">$   999.999.999.000</h5>
          </div>
          <div class = "row">
            <h5 class = "center_content black_color">Bolsa de Valores de Nueva York</h5>
          </div>
          <div class = "row">
            <h5 class = "center_content black_color">15/07/2020     16:00</h5>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-lg-6">
          <div class = "row">
            <h5 class = "black_color"><b>Rendimiento:</b></h5>
          </div>
        </div>
        <div class = "col-lg-3">
          <div class = "row">
            <h5 class = "center_content black_color">$   999.999.999.999     (0.01 %)</h5>
          </div>
        </div>
        <div class = "col-lg-3">
          <div class = "row">
            <div class = "center_content"><a href = "../"><%= image_tag("ArrowUp.png", :width => "65", :height => "22", :alt => "Isologo de Mapiri Andalama") %></a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
